.float-right {
    float: right;
}

mat-card {
    padding: 20px;
}

table {
    width: 100%;
}

::ng-deep .highlight {
    color: white;
    background: #387ADF;
}

.mat-flat-button {
    background-color: #387ADF; /* Mã màu tùy chỉnh */
    color:#fff;
}

