.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
    background-color: #333A73; /* Mã màu tùy chỉnh */
    color: #fdf2f2;
}

.mat-form-field {
    padding: 5px;
}

.mat-hint {
    color: red;
}