<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vanilla Cheese Cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bánh sinh nhật Vanilla Cheese Cake là một món tráng miệng đặc biệt phổ biến trong các buổi kỷ niệm và lễ kỷ niệm sinh
                        nhật. Đây là một sự kết hợp ngon ngọt của lớp bánh cheese cake mềm mịn, hòa quện cùng hương vị vanilla thơm ngon và một
                        lớp kem phủ mịn màng.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vani Cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bánh Vani Cake là một loại bánh ngọt với hương vị và mùi thơm đặc trưng của vani. Đây là một món tráng miệng phổ biến và
                        thường được thưởng thức trong các dịp lễ, sinh nhật, hoặc chỉ đơn giản là để thưởng thức trong các buổi gặp gỡ bạn bè và
                        gia đình.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Socola Cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bánh Socola Cake là một trong những loại bánh phổ biến nhất trên thế giới, với hương vị đậm đà của socola làm chủ đạo.
                        Đây là một món tráng miệng mà hầu như ai cũng yêu thích, từ trẻ em đến người lớn, và thường được thưởng thức trong các
                        dịp đặc biệt như sinh nhật, kỷ niệm, hay ngày lễ.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Snow chocolate</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bánh sinh nhật Snow Chocolate là một tác phẩm độc đáo kết hợp giữa vẻ đẹp tinh tế của tuyết và hương vị ngọt ngào của
                        socola. Đây là một lựa chọn sang trọng và độc đáo để kỷ niệm một dịp sinh nhật đặc biệt</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Là một phần
                        <br />
                        của chúng tôi
                        <br />
                        Bánh Kem!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>