.mat-toolbar {
  margin: -24px;
  margin-bottom: 10px;
  width: auto;
  border: none; /* Loại bỏ viền trắng của mat-toolbar */
  background-color: #333A73; /* Mã màu tùy chỉnh */
  color:#fff;
}

.mat-form-field {
  padding: 5px;
  border: none; /* Loại bỏ viền trắng của mat-form-field */
}

